@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

html,
body {
  font-family: "Orbitron";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #f3bbb1;
  overflow: hidden;
  color: white;
  user-select: none;
}

.loading-screen {
  font-family: "Chewy", cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 1;
  transition: opacity 1s ease;
}

.loading-message {
  color: white;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* Popup container */
#popup {
  position: fixed;
  top: -100px; /* Initially hidden above the screen */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 20px 20px;
  border: 2px solid white;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  opacity: 0; /* Initially hidden */
  transition: top 1.5s ease, opacity 1.5s ease;
  font-weight: 100;
}

.gray {
  color: rgba(255, 255, 255, 0.774);
}

/* Show popup */
#popup.show {
  top: 20px; /* Slide down */
  opacity: 1; /* Make visible */
}

/* Hidden state */
#popup.hidden {
  opacity: 0;
  top: -100px; /* Slide back up */
}

#content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f3bbb1;
}

.menu {
  color: white;
  position: relative;
  left: -8.5em;
  height: 2.5em;
  width: 7.5em;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  border-radius: 10px;
  text-align: right;
  border: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  padding-right: 50px;
}

#home {
  top: 110px;
}

#game {
  top: 110px;
  margin-top: 5px;
}

#music {
  top: 110px;
  margin-top: 5px;
}

#gallery {
  top: 110px;
  margin-top: 5px;
}

/* Hover effect for all menu items */
.menu:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  left: -2%;
}
.menu:active {
  background-color: #f1e5bc;
  transform: translateY(2px);
}

.selected {
  background: white;
  color: black;
  left: -8em;
}

/* Home Content PLace */
#header {
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  text-align: left;
  position: absolute;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 2px solid white;
  transition: all 0.3s ease;
  border-radius: 25px;
  top: 0;
  left: 5%;
  width: auto;
  min-height: 4rem;
  height: auto;
  font-family: "Orbitron";
  user-select: none;
}

#header h1 {
  font-size: 1.5rem;
}

.content2 {
  height: calc(100vh - 12%);
  position: relative;
  top: 100px;
  left: 5%;
  width: 95%;
  border-radius: 25px;
  color: white;
  padding: 20px;
  overflow: auto;
  z-index: 50;
  border: 2px solid white;
  transition: all 0.3s ease;
}

/* Gallery Content Place */
#galleryBox {
  width: 98%; /* Ensure this is wide enough */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px; /*This creates a gap between images */
  justify-content: flex-start; /* Ensure images align to the left */
}

.gallery-image {
  width: 100%;
  object-fit: cover;
  height: 290px;
  border-radius: 8px;
  cursor: pointer;
}

.gallery-image-wrapper {
  position: relative;
  width: 100%;
  height: 290px;
}

.gallery-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.gallery-video-timestamp {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  z-index: 1001;
}

.gallery-image {
  position: relative; /* Ensure the image/video container can hold the pin icon */
}

.pin-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 5px;
  z-index: 10;
}

@media (min-width: 720px) and (max-width: 1200px) {
  #galleryBox {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 720px) and (min-width: 480px) {
  #galleryBox {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #galleryBox {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* Lightbox styles */
.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  overflow: hidden;
}

.lightbox.hidden {
  display: none;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  border: 2px solid white;
}

.lightbox-video {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  border: 2px solid white;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/*Game Gallery*/

#gameContent {
  padding-top: 20px;
  padding-left: 30px;
}

.gameGallery {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  justify-content: flex-start;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-height: 400px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.game-item:hover {
  transform: scale(1.04);
}

.game-cover {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.game-name {
  width: 100%;
  background-color: #e5e5e3;
  color: black;
  text-align: center;
  line-height: 3;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#wuwa {
  width: 98%;
  height: 100%;
}
#valo {
  width: 98%;
  height: 100%;
}

.gameHeader {
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  font-size: 22px;
  display: inline-block;
  border: 3px solid white;
}

.backButton {
  display: inline-block;
  align-items: center;
  padding: 14px 20px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: -10px;
}

.backButton svg {
  width: 20px;
  height: 20px;
}

.backButton:hover {
  background-color: #f1e5bc;
}
