@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {
  --primary-color: #f3bbb1;
}

html,
body {
  font-family: "Orbitron";
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--primary-color);
  overflow: hidden;
  color: white;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 99;
}

.slider-container {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 102;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.slider-label {
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

.opacity-slider {
  width: 200px;
  accent-color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: grabbing;
}

.loading-screen {
  font-family: "Chewy", cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  opacity: 1;
  transition: opacity 1s ease;
}

.loading-message {
  color: white;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

#popup {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 20px 20px;
  border: 2px solid white;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  opacity: 0;
  transition: top 1.5s ease, opacity 1.5s ease;
  font-weight: 100;
}

.gray {
  color: rgba(255, 255, 255, 0.774);
}

#popup.show {
  top: 20px;
  opacity: 1;
}

#popup.hidden {
  opacity: 0;
  top: -100px;
}

#content {
  position: absolute;
  left: -8.3em;
  top: calc(var(--header-height) + 60px);
  height: auto;
  width: auto;
  z-index: 999;
}

.menu {
  color: white;
  position: relative;
  left: -0.2rem;
  height: 2.5em;
  width: 7.5em;
  background: var(--primary-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  border-radius: 10px;
  text-align: right;
  border: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  padding-right: 40px;
}

.menu:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transform: translateX(5rem);
}

.menu:active {
  background-color: #f1e5bc;
}

.selected {
  background: white;
  color: black;
  transform: translateX(0.4rem);
}

#home,
#game,
#music,
#gallery {
  top: 0;
  margin-top: 5px;
}
#header {
  flex-shrink: 0;
  z-index: 101;
}

#header h1 {
  font-size: 1.5rem;
}

:root {
  --header-height: 4rem;
}

#header {
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  text-align: left;
  position: fixed;
  top: 20px;
  left: 5.4%;
  width: auto;
  min-height: 40px;
  height: auto;
  font-family: "Orbitron";
  border: 2px solid white;
  border-radius: 25px;
  font-size: 1.5rem;
  z-index: 101;
  user-select: none;
}

.content2 {
  height: calc(100% - var(--header-height));
  width: auto;
  margin-top: calc(var(--header-height) + 40px);
  position: relative;
  left: 5.4%;
  border-top-left-radius: 25px;
  color: white;
  padding: 20px;
  z-index: 50;
  border-top: 2px solid white;
  border-left: 2px solid white;
  box-sizing: border-box;
  transition: all 0.3s ease;
  max-height: calc(100% - var(--header-height) - 40 px);
  max-width: calc(100% - 5.4%);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.content2::-webkit-scrollbar {
  display: none;
}

#galleryBox {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  justify-content: flex-start;
}

.gallery-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 0.95;
}

.gallery-image,
.gallery-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.gallery-image {
  position: relative;
}

.pin-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 5px;
  z-index: 10;
}

.gallery-video-timestamp {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  z-index: 101;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
  overflow: hidden;
}

.lightbox.hidden {
  display: none;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  border: 2px solid white;
}

.lightbox-video {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  border: 2px solid white;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/*Game Gallery*/

#gameContent {
  padding: 20px;
}

.gameGallery {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  justify-content: flex-start;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 400px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.game-item:hover {
  transform: scale(1.04);
}

.game-cover {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.game-name {
  width: 100%;
  background-color: #e5e5e3;
  color: black;
  text-align: center;
  line-height: 3;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#wuwa {
  width: 98%;
  height: 100%;
}
#valo {
  width: 98%;
  height: 100%;
}

.gameHeader {
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  font-size: 22px;
  display: inline-block;
  border: 3px solid white;
}

.backButton {
  display: inline-block;
  align-items: center;
  padding: 14px 20px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: -10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.backButton svg {
  width: 20px;
  height: 20px;
}

.backButton:hover {
  background-color: #f1e5bc;
}

@media (max-width: 1200px) {
  #galleryBox,
  .gameGallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 720px) and (min-width: 480px) {
  #galleryBox,
  .gameGallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  #galleryBox,
  .gameGallery {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

#musicContent {
  display: flex;
  gap: 16px;
}

.songsList {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 25%;
  border-right: 1px solid white;
  height: 100%;
}

.musicMain {
  width: 100%;
  border-top-right-radius: 25px;
  position: relative;
}

.musicMain::after {
  top: 0;
  right: 0;
  width: 50px;
  height: 150px;
  position: absolute;
  content: "";
  border-top-right-radius: 25px;
  border-right: 1.5px solid white;
  border-top: 1.5px solid white;
}

.lyricsTab {
  position: absolute;
  right: 0;
  top: 50px;
  width: 15px;
  height: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1.5px solid white;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  color: black;
  padding: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Hide content when collapsed */
  text-align: center;
  writing-mode: vertical-rl; /* Makes the text vertical */
  white-space: nowrap;
  z-index: 100;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease; /* Smooth transition */
}

.lyricsTab::before {
  content: "Lyrics"; /* The text you want to display */
  margin-bottom: 10px;
  display: block;
}

.lyricsTab.expanded {
  width: 60%;
  height: 80%;
  overflow: auto;
  writing-mode: horizontal-tb;
  font-size: 18px;
  border-right: 1.5px solid white;
  background-color: var(--primary-color);
}

.lyrics {
  display: none;
}

.lyricsTab.expanded .lyrics {
  display: block;
}

.songItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.songItem:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Image styles */
.songImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Song title styles */
.songTitle {
  font-size: 1rem;
  color: black;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
}

/* Author name styles */
.authorName {
  font-size: 0.8rem;
  color: black;
  margin: 0;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: object-fit;
  max-width: 100%;
  height: 200px;
  background-color: transparent;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}

.musicImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  height: 100%;
  padding-top: 7%;
}

.song {
  font-size: 38px;
  margin: 0;
}

.author {
  font-size: 16px;
  margin: 0;
}

.song-link,
.author-link {
  color: black;
  text-decoration: none;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.song-link:hover,
.author-link:hover {
  text-decoration: underline;
}

.userControl {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.rotating {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroller {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.scroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scroller::-webkit-scrollbar-track {
  background: transparent;
}

.scroller::-webkit-scrollbar-button {
  display: none;
}

.floating-window {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 300px;
  height: 100px;
  background-color: var(--primary-color);
  border: 1px solid #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 999;
}
