@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@font-face {
  font-family: "Cyberpunk";
  src: url(https://assets.codepen.io/2585/Cyberpunk-Regular.svg#Cyberpunk)
      format("svg"),
    url(https://assets.codepen.io/2585/Cyberpunk-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%;
  height: 100%;
}
body {
  background: black;
  overflow: hidden;
  gap: var(--size-5);
  color: white;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes initText {
  0% {
    content: "Initializing system . . .";
  }
  17% {
    content: "Initializing system . . . \00000a Loading core modules . . .";
  }
  27% {
    content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . ";
  }
  36% {
    content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . ";
  }
  42% {
    content: "Initializing system . . . \00000a Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . .";
  }
  49% {
    content: "Loading core modules . . . \00000a Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . .";
  }
  60% {
    content: "Verifying user permissions . . . \00000a Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . .";
  }
  66% {
    content: "Compiling source code . . . \00000a Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a";
  }
  78% {
    content: "Running diagnostics . . . \00000a Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a Executing startup procedures . . . \00000a";
  }
  100% {
    content: "Establishing secure connection . . . \00000a Scanning for vulnerabilities . . . \00000a Loading user interface . . . \00000a Executing startup procedures . . . \00000a Initializing database connections . . . \00000a";
  }
}

@keyframes opcty {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes counting {
  0% {
    --num: 0;
  }
  60% {
    --num: 66;
  }
  100% {
    --num: 100;
  }
}

@keyframes charging {
  0% {
    width: 0%;
  }
  60% {
    width: 66%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flex {
  display: flex;
}

.container {
  position: fixed; /* Fix the position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background: black; /* Optional: background color */
}

#loader {
  display: flex;
  flex-direction: column;
  width: 80%;
  animation: opcty 1s ease-in-out;

  .loading-text {
    font-family: "Orbitron";
    letter-spacing: 0.3rem;
  }

  .therefore {
    font-size: 24px;
    animation: rotate 1s linear infinite;
    padding-top: 9.5px;
    height: fit;
  }
  .loading-number {
    counter-reset: num var(--num);
    margin-left: auto;
    transition: --num 5s;
    animation: counting 3s ease-in-out;
    font-family: "Orbitron";
    animation-fill-mode: forwards;

    &:before {
      font-family: "Orbitron";
      content: counter(num);
    }
  }
}

#loading-bar-border {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;

  & .loading-bar {
    height: 0.6rem;
    margin: 1px 0px;
    background: white;
    animation: charging 3s ease-in-out;
    animation-fill-mode: forwards;
  }
}

#warning {
  margin-top: 0.5rem;
  font-family: "Orbitron";
  display: flex;
  height: 1.2rem;

  .exclamation {
    width: 1rem;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 3px;
  }
}

#line-cascates {
  margin-left: auto;
  display: flex;
  align-items: end;
  margin-top: 5rem;
  &:after {
    height: 5rem;
    font-size: 12px;
    white-space: pre;
    text-align: end;
    color: #b5b5b5;
    content: "";
    animation: initText 3s ease;
    animation-fill-mode: forwards;
  }
}

h1 {
  font-family: Cyberpunk;
  color: white;
  font-size: 12vw;
  color: cyan;
  animation: glitch 5s step-end infinite alternate,
    glitch-skew 5s step-end infinite alternate;
}

@keyframes glitch {
  13% {
    clip-path: polygon(
      90% 55%,
      20% 97%,
      85% 42%,
      20% 62%,
      6% 55%,
      76% 74%,
      68% 67%,
      49% 32%,
      47% 41%,
      2% 16%,
      95% 73%,
      68% 14%,
      35% 81%,
      31% 57%,
      29% 24%,
      57% 63%,
      52% 91%,
      45% 82%,
      6% 81%,
      82% 88%,
      30% 61%,
      70% 18%,
      15% 36%,
      16% 67%,
      74% 84%,
      21% 81%
    );
  }

  53% {
    clip-path: polygon(
      46% 96%,
      51% 63%,
      92% 0%,
      47% 85%,
      26% 37%,
      15% 6%,
      16% 15%,
      64% 28%,
      69% 88%,
      50% 49%,
      29% 17%,
      91% 74%,
      54% 36%,
      85% 94%,
      89% 92%,
      96% 22%,
      47% 75%,
      51% 12%,
      12% 37%,
      1% 41%,
      63% 33%,
      90% 52%,
      48% 18%,
      5% 56%,
      77% 80%,
      60% 48%
    );
  }

  37% {
    clip-path: polygon(
      73% 96%,
      32% 94%,
      26% 33%,
      40% 16%,
      69% 28%,
      72% 42%,
      32% 33%,
      22% 3%,
      55% 64%,
      79% 57%,
      57% 39%,
      0% 44%,
      27% 36%,
      17% 32%,
      47% 35%,
      53% 10%,
      65% 96%,
      72% 51%,
      15% 56%,
      61% 21%,
      66% 29%,
      33% 7%,
      8% 86%,
      47% 89%,
      43% 56%,
      98% 7%
    );
  }

  62% {
    clip-path: polygon(
      44% 98%,
      91% 91%,
      90% 18%,
      72% 50%,
      63% 5%,
      36% 64%,
      23% 8%,
      43% 19%,
      88% 86%,
      7% 22%,
      37% 99%,
      71% 21%,
      76% 50%,
      100% 73%,
      5% 41%,
      65% 26%,
      19% 55%,
      36% 5%,
      11% 83%,
      28% 48%,
      36% 36%,
      9% 64%,
      64% 22%,
      66% 38%,
      80% 68%,
      69% 76%
    );
  }

  78% {
    clip-path: polygon(
      24% 46%,
      40% 79%,
      28% 54%,
      98% 82%,
      87% 67%,
      36% 71%,
      37% 29%,
      89% 26%,
      89% 21%,
      8% 8%,
      61% 35%,
      4% 23%,
      90% 77%,
      46% 98%,
      82% 6%,
      76% 94%,
      17% 52%,
      59% 22%,
      76% 92%,
      39% 44%,
      74% 97%,
      16% 6%,
      89% 84%,
      80% 52%,
      85% 55%,
      7% 91%
    );
  }
  14%,
  39%,
  56%,
  64%,
  79% {
    clip-path: none;
  }
}

@keyframes glitch-skew {
  13% {
    transform: skew(10deg, 10deg) scale(0.6);
  }

  53% {
    transform: skew(20deg, 50deg) scale(0.6);
  }

  37% {
    transform: skew(-83deg, 17deg) scale(0.6);
  }

  78% {
    transform: skew(289deg, 18deg) scale(0.6);
  }
  14%,
  39%,
  56%,
  64%,
  79% {
    transform: none;
  }
}

.hidden {
  display: none; /* Use display: none to completely remove it from the layout */
}

#content {
  position: absolute; /* or use fixed if you want it to stay in place when scrolling */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}
